<form [formGroup]="postForm" (submit)="savePost()" class="teste">
  <div class="flex flex-col items-center">

    <!-- fullname input -->
    <div class="w-3/4 mb-6 mt-5">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          formControlName="fullName"
          class="form-control w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500"
          name="fullName"
          [(ngModel)]="post.fullName"
        />
        <label htmlFor="fullName">Nome Completo</label>
      </span>
      <div class="ui-grid-col-4">
        <div
          [hidden]="
            postForm.controls['fullName'].valid ||
            !postForm.controls['fullName'].dirty
          "
          class="alert alert-danger"
        >
          Nome is required
        </div>
      </div>
    </div>

    <!-- title input -->
    <div class="w-3/4 mb-6 mt-5">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          formControlName="title"
          class="form-control w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500"
          name="title"
          [(ngModel)]="post.title"
        />

        <label htmlFor="title">post</label>
      </span>
      <div class="ui-grid-col-4">
        <div
          [hidden]="
            postForm.controls['title'].valid ||
            !postForm.controls['title'].dirty
          "
          class="alert alert-danger"
        >
          Title is required
        </div>
      </div>
    </div>
    <!-- post input -->
    <div class="w-3/4 mb-6">
      <span class="p-float-label">
        <input
          pInputText
          type="post"
          formControlName="post"
          class="form-control w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500"
          [(ngModel)]="post.post"
          name="post"
        />
        <label htmlFor="post">Post</label>
      </span>

      <div class="ui-grid-col-4">
        <div *ngIf="postForm.get('post')?.errors?.['required']"
          [hidden]="
            postForm.controls['post'].valid ||
            !postForm.controls['post'].dirty
          "
          class="alert alert-danger"
        >
        Post is required
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <p-button class="flex-auto p-2 edit" (click)="savePost()">Salvar</p-button>
      <p-button class="flex-auto p-2 trash" (click)="hideShowDialog()">Cancelar</p-button>
    </div>

  </div>
</form>
